<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="constr" value="Server=192.168.1.40; Port=5014; Database=Smartinventory_Dev;User Id=postgres;Password=Lepton@#2022;CommandTimeout=600;" />

		<!-- ********************** IMPORTANT **********************-->
		<!--<add key="constr" value="U2VydmVyPTE5Mi4xNjguMS40MDsgUG9ydD01MDE0OyBEYXRhYmFzZT1TbWFydGludmVudG9yeV9EZXY7VXNlciBJZD1wb3N0Z3JlcztQYXNzd29yZD1MZXB0b25AIzIwMjI7Q29tbWFuZFRpbWVvdXQ9NjAwOw==" />-->
	</appSettings>
	<connectionStrings>
		<add name="constr" connectionString="Server=192.168.1.40; Port=5014; Database=Smartinventory_Dev;User Id=postgres;Password=Lepton@#2022;" providerName="Npgsql" />
	</connectionStrings>
</configuration>