<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
	
		<add key="AppFile" value="F:\apps\VIL\GIS_NetworkAccess\WebAppBuild\Mapfiles"/>
		<add key="FTP_DBFile" value="ftp://192.168.1.6:5555/conf/"/>
		<add key="excludefolder" value="Files/attachment/*"/>
		<add key="Temp_DBBackuppath" value="F:\appbackupfile"/>
		<add key="Temp_AppBackuppath" value="F:\appbackupfile\AppBackup.zip"/>
		<add key="InnerDbFolder" value="/smartinventory.compressed"/>
		
		<add key="User_ID" value=""/>
		<add key="Password" value=""/>
		
	</appSettings>
	<connectionStrings>
		<add name="constr" connectionString="Server=192.168.1.6; Port=5452; Database=spectra_mvc;User Id=postgres;Password=lepton#19;" providerName="Npgsql"/>

		<!--<add name="constr" connectionString="Server=192.168.1.6; Port=5452; Database=NepalTelecom_Prod;User Id=postgres;Password=lepton#19;" providerName="Npgsql"/>-->
		
	</connectionStrings>
</configuration>
