<div class="libDetail">
    <div class="libTabContent">
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="form-group">
                <label class="control-label col-sm-4">Template Name</label>
                <div class="col-md-8 col-sm-8">
                    <input type="text" class="form-control" id="txtTemplateName" />
                </div>
            </div>
        </div>
    </div>
    <div class="form-group ModalFooter" id="dvBtnAction">
        <div class="col-md-12 col-sm-12 ModalFooterControll">
            <button type="button" class="btn btn-primary" onclick="rpdataUploader.saveTemplate();">@Resources.Resources.GBL_GBL_GBL_GBL_GBL_004</button>
            <a href="javascript:void(0);" class="btn btn-default" id="btnTemplateCancel" data-dismiss="modal" onclick="rpdataUploader.closeTemplate();">@Resources.Resources.GBL_GBL_GBL_GBL_GBL_006</a>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
