<!DOCTYPE html>
<style>
.resizable {
    width: 800px;
    height: 560px;
/*    border: 1px solid #000;*/
/*    position: relative;*/
    resize: both;
    overflow: auto;
}

.resizable:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
/*    background-color: #000;*/
    cursor: se-resize; /* This makes the cursor show resizing direction */
}
</style>
<div id="test1">
<div class="libTabContent1">
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="GISInfo">

            <div class="space-pad">
                <div class="pos-rel mb-01">
                    <textarea id="txtLinkIds" class="fullWidth" placeholder="Enter comma seperated Link Ids" rows="5"></textarea>
                </div>
                <div class="d-flex mb-01 --gap05">
                    <button type="button" class="btn btn-success ml-auto" id="btnSearchLinkIds" onclick="return SearchLinkIds(event);">@Resources.Resources.SI_OSP_GBL_GBL_GBL_046</button>
                    <button type="button" class="btn btn-default" id="btnClearLinkIds" onclick="resetLinkdata();">@Resources.Resources.GBL_GBL_GBL_GBL_GBL_009</button>
                    <button type="button" class="btn btn-default" style="display:none" id="btnShowOnMapLinkIds" onclick="linkShowOnMap();">Show on Map</button>
                </div>

                <div id="divLinkIdsSearchResult" class="mainLegend" style="display:none">
                    <table id="tblLinkIdsSearchResult" class="stickyTh">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="chkSelectAll" /></th>
                                <th>Cable ID</th>
                                <th>Cable Name</th>
                                <th>A Location</th>
                                <th>B Location</th>
                                <th>Link Count</th>
                            </tr>
                        </thead>
                        <tbody id="tblbodyLinks"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>

<script>
    var linksOnMap = [];
    function resetLinkdata() {
        $('#txtLinkIds').val('');
        $('#tblbodyLinks').empty();
        $('#divLinkIdsSearchResult').hide();
        $('#btnShowOnMapLinkIds').hide();
    }


    function SearchLinkIds(event) {
        debugger;
        event.preventDefault();
        let linkIds = $('#txtLinkIds').val();

        if (linkIds == '') {
            alert('Enter Link Ids');
            return false;
        }
        if (linkIds!='')
        {
            ajaxReq('CommonPathFinder/validateLinkIds', { linkIds: linkIds }, false, function (resp) {
                if (JSON.parse(resp.data[0]).invalidlinkids != null) {
                    invalid_link_ids = JSON.parse(resp.data[0]).invalidlinkids
                    alert("Invalid LinkIds :" +  invalid_link_ids);                 
                    $('#tblbodyLinks').empty();
                    return false;
                }
                else
                {
                    ajaxReq('CommonPathFinder/getCableListByLinkIds', { linkIds: linkIds }, false, function (resp) {
                        if (resp.status == "OK") {
                            let tblbody = $('#tblbodyLinks');
                            tblbody.empty();
                            let linkdata = JSON.parse(resp.data).features;
                            let maxLinkCount = Math.max(...linkdata.map(item => item.properties.link_count));
                            debugger;
                            var strGeom = '';
                            if (linkdata != null)
                                linkdata.forEach(function (value, index) {
                                    var isChecked = (value.properties.link_count == maxLinkCount) ? "checked" : "";
                                    var bodyRow = $(`<tr>`);
                                    bodyRow.append($(`<td>`).html(`<input ${isChecked} onchange="linkChange(this);" type="checkbox" class="chklink" geom='${value.geometry.coordinates.map(a => a.join(" ")).join(",")}' />`));
                                    bodyRow.append($(`<td>`).text(value.properties.cable_name));
                                    bodyRow.append($(`<td>`).text(value.properties.network_id));
                                    bodyRow.append($(`<td>`).text(value.properties.a_location));
                                    bodyRow.append($(`<td>`).text(value.properties.b_location));
                                    bodyRow.append($(`<td>`).text(value.properties.link_count));
                                    
                                   // strGeom = strGeom == '' ? linkdata[index].geometry.coordinates.map(a => a.join(" ")).join(",") : strGeom + ',' + linkdata[index].geometry.coordinates.map(a => a.join(" ")).join(",")
                                    tblbody.append(bodyRow);
                                });
                            $('#divLinkIdsSearchResult').show();
                            $('#btnShowOnMapLinkIds').show();
                            //linkShowOnMapDefault(linkdata[0].geometry.coordinates.map(a => a.join(" ")).join(","));
                            linkShowOnMap();

                            const dargetedDiv = document.querySelector('.modal-content');
                            dargetedDiv.classList.remove('resizable');
                            //dargetedDiv.classList.add('minimize');
                            
                           // linkShowOnMapDefault(strGeom);
                        }
                        else {
                            alert(resp.error_message);
                        }
                    });


                }

            });
        }
        //let items = linkIds.split(',');
        //let validPattern = /^[A-Za-z]{2}[0-9]{5}$/;
        //for (let index = 0; index < items.length; index++) {
        //    let item = items[index];
        //    if (!validPattern.test(item)) {

        //        // Check specific issues
        //        if (!/^[A-Za-z]/.test(item)) {
        //            //alert(`Link Id "${item}" is invalid. due to `+'it Does not start with a letter');
        //            alert('Link Id "' + item + '" is invalid due to: \n It does not start with a letter.');
        //            return false;
        //        } else if (!/^[A-Za-z]{2}/.test(item)) {
        //            alert(`Link Id "${item}" is invalid. due to ` + 'The first two characters are not letters.');
        //            return false;
        //        }
        //        if (item.length != 7) {
        //            alert(`Link Id "${item}" is invalid. due to ` + `its length of ${item.length} characters.The correct length is 7 characters )`);
        //            return false;
        //        }
        //        if (/^[a-zA-Z0-9]+$/.test(item)) {
        //            alert(`Link Id "${item}" is invalid due to containing non-alphanumeric characters.`);
        //            return false;
        //        }
        //    }
        //}
      
        //else {
        //    ajaxReq('CommonPathFinder/getCableListByLinkIds', { linkIds: linkIds }, false, function (resp) {
        //        if (resp.status == "OK") {
        //            let tblbody = $('#tblbodyLinks');
        //            tblbody.empty();
        //            let linkdata = JSON.parse(resp.data).features;
        //            let maxLinkCount = Math.max(...linkdata.map(item => item.properties.link_count));
        //            debugger;
        //            if (linkdata != null)
        //                linkdata.forEach(function (value, index) {
        //                    var isChecked = (value.properties.link_count == maxLinkCount) ? "checked" : "";
        //                    var bodyRow = $(`<tr>`);
        //                    bodyRow.append($(`<td>`).html(`<input ${isChecked} onchange="linkChange(this);" type="checkbox" class="chklink" geom='${value.geometry.coordinates.map(a => a.join(" ")).join(",")}' />`));
        //                    bodyRow.append($(`<td>`).text(value.properties.cable_name));
        //                    bodyRow.append($(`<td>`).text(value.properties.network_id));
        //                    bodyRow.append($(`<td>`).text(value.properties.a_location));
        //                    bodyRow.append($(`<td>`).text(value.properties.b_location));
        //                    bodyRow.append($(`<td>`).text(value.properties.link_count));

        //                    tblbody.append(bodyRow);
        //                });
        //            $('#divLinkIdsSearchResult').show();
        //            $('#btnShowOnMapLinkIds').show();
        //            linkShowOnMapDefault(linkdata[0].geometry.coordinates.map(a => a.join(" ")).join(","));
        //        }
        //        else {
        //            alert(resp.error_message);
        //        }
        //    });
        //}
    }

    function linkShowOnMapDefault(geom) {
        clearLinksfromMap();

        let playroute = new google.maps.Polyline({
            path: getGoogleLineGeomfromLatLngString(geom),
            geodesic: true,
            strokeColor: '#FF0000',// getRandomColor(),//apisource == "GoogleAPI" ? '#000000' : '#FF0000',
            strokeWeight: 2,
            draggable: false
        });

        playroute.setMap(si.map);
        linksOnMap.push(playroute);
        let bounds = new google.maps.LatLngBounds();
        linksOnMap.forEach(function (polyline) {
            polyline.getPath().forEach(function (point) {
                bounds.extend(point);
            });
        });

        // Fit map to bounds
        si.map.fitBounds(bounds);
        $('.minmizeModel').find('.fa-minus').click();

    }
    function linkShowOnMap() {
        clearLinksfromMap();
        if ($('.chklink:checked').length == 0) {
            alert('Please select at least one record to show on map.');
            return;
        }

        $('.chklink:checked').each(function (item) {
            let playroute = new google.maps.Polyline({
                path: getGoogleLineGeomfromLatLngString($(this).attr('geom')),
                geodesic: true,
                strokeColor: '#FF0000',// getRandomColor(),//apisource == "GoogleAPI" ? '#000000' : '#FF0000',
                strokeWeight: 2,
                draggable: false
            });

            playroute.setMap(si.map);
            linksOnMap.push(playroute);
        });
        let bounds = new google.maps.LatLngBounds();
        linksOnMap.forEach(function (polyline) {
            polyline.getPath().forEach(function (point) {
                bounds.extend(point);
            });
        });

        // Fit map to bounds
        si.map.fitBounds(bounds);
        $('.minmizeModel').find('.fa-minus').click();

    }

    function clearLinksfromMap() {
        if (linksOnMap.length > 0) {
            linksOnMap.forEach(function (polyline) {
                polyline.setMap(null);
            });
        }
    }

    function getGoogleLineGeomfromLatLngString(geomString) {
        let geom = [];
        let arr = geomString.split(',');
        arr.forEach(function (latlng) {
            latlng = latlng.trim();
            let ll = new google.maps.LatLng(latlng.split(' ')[1], parseFloat(latlng.split(' ')[0]))
            geom.push(ll);
        })
        return geom;
    }


    function linkChange(curobj) {
        if (!$(curobj).prop('checked')) {
            $('#chkSelectAll').prop('checked', false);
        } else {
            // Check if all checkboxes are checked
            if ($('.chklink:checked').length === $('.chklink').length) {
                $('#chkSelectAll').prop('checked', true);
            }
        }
    }
    $(document).ready(function () {
        $('#chkSelectAll').change(function () {
            $('.chklink').prop('checked', $(this).prop('checked'));
        });

        $('#closeModalPopup').on('click', function () {
            clearLinksfromMap();
        });
    });

    $(function () {
        debugger;
        let isResizing = false;              
        const modal = document.querySelector('.modal-content');
       // modal.classList.add('resizable');
        const resizableDiv = modal;//$('#ModalPopUp');
        const corner = $('<div>').css({
            width: '10px',
            height: '10px',
            backgroundColor: 'transparent',
            position: 'absolute',
            bottom: 0,
            right: 0,
            cursor: 'se-resize'
        }).appendTo(resizableDiv);

            corner.mousedown(function (e) {
                isResizing = true;
            const initialWidth = resizableDiv.width();
            const initialHeight = resizableDiv.height();
            const initialMouseX = e.clientX;
            const initialMouseY = e.clientY;

            $(document).mousemove(function (e) {
                if (isResizing) {
                    const widthDiff = e.clientX - initialMouseX;
            const heightDiff = e.clientY - initialMouseY;
            resizableDiv.width(initialWidth + widthDiff);
            resizableDiv.height(initialHeight + heightDiff);
                }
            });

            $(document).mouseup(function () {
                isResizing = false;
            $(document).off('mousemove mouseup');
            });
            });
        
    });

    $('#closeModalPopup').on('click', function () {
        debugger;       
        const dargetedDiv = document.querySelector('.modal-content');
        dargetedDiv.classList.remove('resizable');
        dargetedDiv.removeAttribute('style');
        const corner = dargetedDiv.querySelector('div[style*="cursor: se-resize"]'); // Find the corner div
        if (corner) {
            corner.remove();  
        }                        
    });

    $('.close.minmizeModel.ml-auto.mr-05').on('click', function (event) {
        debugger;
       
        const dargetedDiv = document.querySelector('.modal-content');
        if (dargetedDiv.className != 'modal-content resizable') {
            if (event.target.className == 'close minmizeModel ml-auto mr-05') {
                dargetedDiv.classList.remove('resizable');
              
                dargetedDiv.classList.add('minimize');
                const iconElement = document.querySelector('.close .fa');
                iconElement.classList.add('fa-plus', 'fa-clone');
            }
            else if (event.target.className == 'fa fa-minus fa-plus fa-clone') {

                dargetedDiv.classList.add('resizable');
                dargetedDiv.classList.remove('minimize');
                const iconElement = document.querySelector('.close .fa');
                iconElement.classList.remove('fa-plus', 'fa-clone');

            }
            else if (event.target.className == 'fa fa-minus') {
                dargetedDiv.classList.remove('resizable');
                dargetedDiv.classList.remove('minimize');
                const iconElement = document.querySelector('.close .fa');
                iconElement.classList.add('fa-plus', 'fa-clone');
            }
            
            
        }
        
        
    });
</script>