<!DOCTYPE html>
<style>
    .resizable {
        min-height: 300px; /* Minimum height */
        min-width: 500px; /* Minimum width */
        width: 800px;
        height: 560px;
        /*    border: 1px solid #000;*/
        /*    position: relative;*/
        resize: both;
        overflow: auto;
    }

        .resizable:after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 10px;
            height: 10px;
            /*    background-color: #000;*/
            cursor: se-resize; /* This makes the cursor show resizing direction */
        }
</style>
<div id="test1">
    <div class="libTabContent1">
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="GISInfo">

                <div class="space-pad">
                    <div class="pos-rel mb-01">
                        <textarea id="txtLinkIds" class="fullWidth" maxlength="200" style="resize: none;" placeholder="Enter comma seperated Link Ids" rows="5" resize: none;></textarea>
                    </div>
                    <div id="charCounter" style="text-align: right; margin-bottom: 5px;">
                        0 / 200
                    </div>

                    <div class="d-flex mb-01 --gap05">
                        <button type="button" class="btn btn-success ml-auto" id="btnSearchLinkIds" onclick="return SearchLinkIds(event);">@Resources.Resources.SI_OSP_GBL_GBL_GBL_046</button>
                        <button type="button" class="btn btn-default" id="btnClearLinkIds" onclick="resetLinkdata();">@Resources.Resources.GBL_GBL_GBL_GBL_GBL_009</button>
                        <button type="button" class="btn btn-default" style="display:none" id="btnShowOnMapLinkIds" onclick="linkShowOnMap();">Show on Map</button>
                        <button type="button" class="btn btn-default" style="display:none" id="btnShowOnMapFiberLinks" onclick="FiberLinkShowOnMap();">Show on Map</button>
                    </div>
                    <div id="divChkSearchResult" class="mainLegend" style="display:none">
                        <label>
                            <input type="checkbox" id="chkCommonPath" name="chkoption" value="common" /> Common Path
                        </label>
                        <label>
                            <input type="checkbox" id="chkFiberLinks" name="chkoption" value="fiber" /> Fiber Links
                        </label>
                    </div>
                    <div id="divLinkIdsSearchResult" class="mainLegend" style="display:none">
                        <table id="tblLinkIdsSearchResult" class="stickyTh">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="chkSelectAll" /></th>
                                    <th>Cable ID</th>
                                    <th>Cable Name</th>
                                    <th>A Location</th>
                                    <th>B Location</th>
                                    <th>Link Count</th>
                                </tr>
                            </thead>
                            <tbody id="tblbodyLinks"></tbody>
                        </table>
                    </div>
                    @*---------------------Fiber Link Details---------------------------*@
                    <div id="divLinksSearchResult" class="mainLegend" style="display:none">
                        <table id="tblLinksSearchResult" class="stickyTh">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="chkFiberSelectAll" /></th>
                                    <th>Network Id</th>
                                    <th>Link Id</th>
                                    <th>Link Name</th>
                                    <th>Fiber Link Status</th>
                                    <th>Link Type</th>
                                </tr>
                            </thead>
                            <tbody id="tblbodyFiberLinks"></tbody>
                        </table>
                    </div>
                    @*----------------------------------------------------------*@
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/CommonPathFinder")

<script type="text/javascript">
    const messageBox = document.getElementById('txtLinkIds');
    const charCounter = document.getElementById('charCounter');

    // Set max character limit
    const maxChars = 200;

    // Add input event listener
    messageBox.addEventListener('input', () => {
        const currentLength = messageBox.value.length;
        charCounter.textContent = `${currentLength} / ${maxChars}`;
    });
</script>