<!DOCTYPE html>
<div class="libTabContent1">
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="GISInfo">

            <div class="space-pad">
                <div class="pos-rel mb-01">
                    <textarea id="txtLinkIds" class="fullWidth" placeholder="Enter comma seperated Link Ids" rows="5"></textarea>
                </div>
                <div class="d-flex mb-01 --gap05">
                    <button type="button" class="btn btn-success ml-auto" id="btnSearchLinkIds" onclick="SearchLinkIds();">@Resources.Resources.SI_OSP_GBL_GBL_GBL_046</button>
                    <button type="button" class="btn btn-default" id="btnClearLinkIds" onclick="resetLinkdata();">@Resources.Resources.GBL_GBL_GBL_GBL_GBL_009</button>
                    <button type="button" class="btn btn-default" style="display:none" id="btnShowOnMapLinkIds" onclick="linkShowOnMap();">Show on Map</button>
                </div>

                <div id="divLinkIdsSearchResult" class="mainLegend" style="display:none">
                    <table id="tblLinkIdsSearchResult" class="stickyTh">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="chkSelectAll" /></th>
                                <th>Cable ID</th>
                                <th>Cable Name</th>
                                <th>A Location</th>
                                <th>B Location</th>
                                <th>Link Count</th>
                            </tr>
                        </thead>
                        <tbody id="tblbodyLinks"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var linksOnMap = [];
    function resetLinkdata() {
        $('#txtLinkIds').val('');
        $('#tblbodyLinks').empty();
        $('#divLinkIdsSearchResult').hide();
        $('#btnShowOnMapLinkIds').hide();
    }


    function SearchLinkIds() {
        let linkIds = $('#txtLinkIds').val();
        if (linkIds == '') {
            alert('Enter Link Ids');
            return;
        }
        else {
            ajaxReq('CommonPathFinder/getCableListByLinkIds', { linkIds: linkIds }, false, function (resp) {
                if (resp.status == "OK") {
                    let tblbody = $('#tblbodyLinks');
                    tblbody.empty();
                    let linkdata = JSON.parse(resp.data).features;
                   
                     if (linkdata != null)
                         linkdata.forEach(function (value, index) {
                             var isChecked = (index === 0) ? "checked" : "";
                            var bodyRow = $(`<tr>`);
                             bodyRow.append($(`<td>`).html(`<input ${isChecked} onchange="linkChange(this);" type="checkbox" class="chklink" geom='${value.geometry.coordinates.map(a => a.join(" ")).join(",")}' />`));
                            bodyRow.append($(`<td>`).text(value.properties.cable_name));
                            bodyRow.append($(`<td>`).text(value.properties.network_id));
                            bodyRow.append($(`<td>`).text(value.properties.a_location));
                            bodyRow.append($(`<td>`).text(value.properties.b_location));
                            bodyRow.append($(`<td>`).text(value.properties.link_count));

                            tblbody.append(bodyRow);
                        });
                    $('#divLinkIdsSearchResult').show();
                    $('#btnShowOnMapLinkIds').show();
                    linkShowOnMapDefault(linkdata[0].geometry.coordinates.map(a => a.join(" ")).join(","));
                }
                else {
                    alert(resp.error_message);
                }
            });
        }
    }

    function linkShowOnMapDefault(geom) {
        clearLinksfromMap();
        
            let playroute = new google.maps.Polyline({
                path: getGoogleLineGeomfromLatLngString(geom),
                geodesic: true,
                strokeColor: '#FF0000',// getRandomColor(),//apisource == "GoogleAPI" ? '#000000' : '#FF0000',
                strokeWeight: 2,
                draggable: false
            });

            playroute.setMap(si.map);
            linksOnMap.push(playroute);
        let bounds = new google.maps.LatLngBounds();
        linksOnMap.forEach(function (polyline) {
            polyline.getPath().forEach(function (point) {
                bounds.extend(point);
            });
        });

        // Fit map to bounds
        si.map.fitBounds(bounds);
        $('.minmizeModel').find('.fa-minus').click();

    }
    function linkShowOnMap() {
        clearLinksfromMap();
        if ($('.chklink:checked').length == 0) {
            alert('Please select at least one record to show on map.');
            return;
        }
        
        $('.chklink:checked').each(function (item) {
            let playroute = new google.maps.Polyline({
                path: getGoogleLineGeomfromLatLngString($(this).attr('geom')),
                geodesic: true,
                strokeColor: '#FF0000',// getRandomColor(),//apisource == "GoogleAPI" ? '#000000' : '#FF0000',
                strokeWeight: 2,
                draggable: false
            });

            playroute.setMap(si.map);
            linksOnMap.push(playroute);
        });
        let bounds = new google.maps.LatLngBounds();
        linksOnMap.forEach(function (polyline) {
            polyline.getPath().forEach(function (point) {
                bounds.extend(point);
            });
        });

        // Fit map to bounds
        si.map.fitBounds(bounds);
        $('.minmizeModel').find('.fa-minus').click();

    }

    function clearLinksfromMap() {
        if (linksOnMap.length > 0) {
            linksOnMap.forEach(function (polyline) {
                polyline.setMap(null);
            });
        }
    }

    function getGoogleLineGeomfromLatLngString(geomString) {
        let geom = [];
        let arr = geomString.split(',');
        arr.forEach(function (latlng) {
            latlng = latlng.trim();
            let ll = new google.maps.LatLng(latlng.split(' ')[1], parseFloat(latlng.split(' ')[0]))
            geom.push(ll);
        })
        return geom;
    }


    function linkChange(curobj) {
        if (!$(curobj).prop('checked')) {
            $('#chkSelectAll').prop('checked', false);
        } else {
            // Check if all checkboxes are checked
            if ($('.chklink:checked').length === $('.chklink').length) {
                $('#chkSelectAll').prop('checked', true);
            }
        }
    }
    $(document).ready(function () {
        $('#chkSelectAll').change(function () {
            $('.chklink').prop('checked', $(this).prop('checked'));
        });

        $('#closeModalPopup').on('click', function () {
            clearLinksfromMap();
        });
    });
</script>