@*Modal pop up*@

<div class="modal fade" id="ModalPopUp" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header popup_bg d-flex">
                <h4 class='modal-title'></h4>
                <span class="close minmizeModel"> <i class='fa fa-minus' style="display:none"></i> </span>
                <span id="closeModalPopup" data-dismiss="modal" class="close ml-auto">&times;</span>
            </div>
            <div id="dvModalBody" class="modal-body" style="overflow:visible;">
            </div>
        </div>
    </div>
</div>

@*Modal pop up: END  *@
