@model List<string>
<!DOCTYPE html>
<div>

    <table style="">

        <tbody>
            @if (Model != null)
            {
                foreach (var port in Model)
                {
                    <tr><td style="border:1px solid #808080;min-width:200px;padding:5px;"> @port </td></tr>
                }
            }
        </tbody>

    </table>
</div>