<fieldset class="innerLegend">
    <legend>Entity Box</legend>
    <span><img src="~/Content/images/icons/lib/Legend/Planned.svg" /> Planned</span>
    <span><img src="~/Content/images/icons/lib/Legend/Asbuilt.svg" /> As Built</span>
    <span><img src="~/Content/images/icons/lib/Legend/Dormant.svg" /> Dormant</span>
</fieldset>

<fieldset class="innerLegend">
    <legend>Entity Type</legend>
    <span><img src="~/Content/images/icons/lib/Legend/Default.svg" /> Default</span>
    <span><img src="~/Content/images/icons/lib/Legend/Secondary.svg" /> Primary</span>
    <span><img src="~/Content/images/icons/lib/Legend/Primary.svg" /> Secondary</span>
</fieldset>
<fieldset class="innerLegend">
    <legend>Shaft</legend>
    <span><img src="~/Content/images/icons/lib/Legend/virtual.svg" /> Virtual</span>
    <span><img src="~/Content/images/icons/lib/Legend/Normal.svg" /> Normal</span>
</fieldset>


<fieldset class="innerLegend">
    <legend>Cable</legend>
    <span><img src="~/Content/images/icons/lib/Legend/planned_cable.svg" /> As Built</span>
    <span><img src="~/Content/images/icons/lib/Legend/As-built_cable.svg" /> Planned</span>
    <span><img src="~/Content/images/icons/lib/Legend/Dormant_cable.svg" /> Dormant</span>
</fieldset>
<fieldset class="innerLegend">
    <legend>Customer</legend>
    <span><img src="~/Content/images/icons/lib/Legend/customer.svg" /> Connected</span>
    <span><img src="~/Content/images/icons/lib/Legend/not-customer.svg" /> Not Connected</span>

</fieldset>
<fieldset class="innerLegend">
    <legend>Others</legend>
    <span><img src="~/Content/images/icons/lib/Legend/patch.svg" /> Patch Cord</span>
    <span><img src="~/Content/images/icons/lib/Legend/CPEToCustomer.svg" /> CPE To Customer</span>
</fieldset>