
<!DOCTYPE html>
<div id="dvInfoVendorSpecification" class="update_panel">
    <div class="title">
        <h4>Bulk Vendor Specification Upload</h4>
    </div>
    <div class="pad_left">
        <div class="d-flex">
            <label> File:</label> <input type="file" id="UploadVendorSepcification" accept=".xls,.xlsx,.shx,.shp,.prj,.dbf" multiple class="ml-01" />
            <div id="dvBtnAction">
                @Html.ActionLink("Download Template", "DownloadVendorSpecificationUploadTemplate", "VendorSepcification", new { FileName = "VendorSepcificationTemplate" }, new { @class = "btn btn-primary", @id = "lnkDownloadTemplate", @style = "padding-top: 3px;padding-bottom: 3px;  color: white;" })
                <button class="btn btn-warning ml-05" type="button" onclick="UploadFile('UploadVendorSepcification','@Url.Action("UploadVendorSpecificationData", "VendorSepcification")','@Url.Action("DownloadUploadVendorSpecificationLogs", "VendorSepcification")');">
                    Upload
                </button>
            </div>
        </div>
        <label id="lblUploadProgress"></label>
    </div>
</div>
<script>
    var iteration = 0; //used for bulk upload progress..
    var loadingtext = "Uploading";//used for bulk upload progress..
    var timer = null;//used for bulk upload progress..;
    var Updatedfields = [];
    function UploadFile(controlId, postUrl, logUrl) {
         

        var formData = new FormData();
        var totalFiles = document.getElementById(controlId).files.length;
        if (totalFiles > 0) {
            if (isValidFileExtn(controlId)) {
                 
                var file = $('#UploadVendorSepcification').get(0);
                file = file.files;
                for (var i = 0; i < file.length; i++) {
                    formData.append(file[i].name, file[i]);
                }
            }
            else {
                return false;
            }
        }
        else {
            alert("Please select a file!");
            return false;
        }
         
        PostFile(formData, postUrl, logUrl);
    }
    function PostFile(formdata, posturl, logUrl) {
        $.ajax({
            type: "POST",
            url: posturl,
            data: formdata,
            async: true,
            contentType: false,
            processData: false,
            async: true,
            beforeSend: function () {
                $(".ui-dialog").css("pointerEvents", "none");
                $("#lblUploadProgress").css("display", "inline-block");
                timer = setInterval(showUploadProgress, 500);
            },
            success: function (response) {
                if (response.msg.toLowerCase() == "success") {
                    //download logs..
                    window.location = logUrl;
                }
                alert(response.strReturn, 'Success', 'success');
                $(".ui-dialog").css("pointerEvents", "auto");
                $("#lblUploadProgress").css("display", "none");
                clearInterval(timer);
            },
            error: function (error) {
                $(".ui-dialog").css("pointerEvents", "auto");
                $("#lblUploadProgress").css("display", "none");
                clearInterval(timer);
                alert(error);
                $(".ui-dialog").css("pointerEvents", "auto");
            }
        });
    }

    function isValidFileExtn(controlid) {
        var ext = $('#' + controlid).val().split('.').pop().toLowerCase();
        if ($.inArray(ext, ['xls', 'xlsx']) == -1) {
            ShowFormMessage(false, "Please select files having extensions .xls or .xlsx only!", "");
            return false;
        }
        return true;
    }

    function showUploadProgress() {
        $("#lblUploadProgress").html(loadingtext + Array((++iteration % 5) + 1).join("."));
    }

</script>

