<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="LogFilePath" value="D:\RoutingDataSyncLog.txt"/>
    <add key="SourceConnString" value="Server=192.168.1.40; Port=5014; Database=Dialog_Dev;User Id=postgres;Password=lepton#19;CommandTimeout=600;"/>
    <add key="DestinationConnString" value="Server=192.168.1.40; Port=5014; Database=Dialog_Dev;User Id=postgres;Password=lepton#19;CommandTimeout=600;"/>

    <!-- ********************** IMPORTANT **********************-->
    <add key="IsServerDifferent" value="0"/>
    <add key="DestinationRoutingTable" value="routing_data"/>
  </appSettings>
</configuration>
