<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<!--5 minutes-->
		<!--<add key="UnassginedTimerInterval" value="300000"/>-->
		<!--8 minutes-->
		<!--<add key="AcknowledgeTimerInterval" value="480000"/>-->
		<!--10 minutes-->
		<!--<add key="UnAssignedJoManagerTimerInterval" value="600000"/>-->
		<!--12 minutes-->
		<!--<add key="BeforeOneDayTimerInterval" value="720000"/>-->
		<!--30 minutes-->
		<!--<add key="TaskDelayedTimerInterval" value="1800000"/>-->
		<!--60 minutes-->
		<!--<add key="NoTaskTimerInterval" value="3600000"/>-->
		<add key="ReportEmailTimerInterval" value="300000" />
		<add key="ReportEmailTimerIntervalTT" value="300000" />

		<!--8:00 AM-->
		<add key="ScheduleTimeUnassingned" value="8" />
		<!--9:00 AM-->
		<add key="ScheduleTimeUnassingnedJoManager" value="9" />
		<!--10:00 AM-->
		<add key="ScheduleTimeBeforeonedaytoCustomer" value="10" />
		<!--first mail on 12:00 PM of the day when  service starts-->
		<add key="ScheduleTimeReportsMail" value="-12" />
		<add key="ScheduleTimeReportsMailTT" value="-12" />
		<!--Mail in every  6  hour -->
		<add key="IntervalHoursReportMail" value="6" />
		<add key="IntervalHoursReportMailTT" value="6" />
		
		<add key="ReportSpan" value="7" />
		<add key="ReportPath" value="D:\Notification\Temp" />
		<add key="LogPath" value="D:\Notification\Log" />
		<add key="TemplatePath" value="D:\Notification" />
		<add key="From" value="lepton@convergeict.com" />
		<add key="Password" value="Yeswecan123" />
		<add key="Host" value="smtp3.convergeict.com" />
		<add key="Port" value="25" />
		<add key="smsapi" value="https://svr20.synermaxx.ph/vmobile/comclark/api/sendnow.php?" />
		<add key="constr" value="Server=192.168.1.40; Port=5014; User ID=postgres;Pooling=false; Password=Lepton@#2022; Database=smartinventory_dev;  CommandTimeout=600;" />
	</appSettings>

<system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql" />
      <add name="Npgsql Provider" invariant="Npgsql" description=".NET Framework Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Version=4.1.3.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.246" newVersion="1.2.0.246" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
