<style>
    .checkboxes label {
        display: inline-block;
        padding-right: 10px;
        white-space: nowrap;
    }

    .checkboxes input {
        vertical-align: middle;
    }
    .checkboxes label span {
        vertical-align: middle;
    }
    #dvShowNetworkOnmap input[type=checkbox] {
        cursor: pointer;
    }
    #dvShowNetworkOnmap .checkbox-custom + b .checkbox-custom-label:before
    {
        margin-bottom:0px !important;
    }
    .NetworkOnMap {
    font-size: 13px;
    position: absolute;
    padding: 4px 0px 0px 7px;
    border-radius: 4px;
    border: 1px #1b9461 solid;
    background: #ffffff;
    z-index: 20;
    background: rgba(241,242,243,0.8);
    width: auto;
    height: 35px;
    top: 85px;
    left: 43%;
    font-weight: bold;
    padding-right:13px;
}
    #closeShowNetowkOnMap {
    position: absolute;
    right: 3px;
    top: 11px;
    cursor: pointer;
    font-weight: bold;
}
</style>

<!DOCTYPE html>
<div id="dvShowNetworkOnmap" style="display:none;" class="NetworkOnMap">
    <div class="checkboxes">       
        <input type="checkbox" class="chkutl checkbox-custom" id="chkTicketNetwork" />
        <b><label for="chkTicketNetwork" class="checkbox-custom-label"><span id="spnTicketNetworkId">GRT-PLN000004</span></label></b> 
    </div>
    <span type="button" id="closeShowNetowkOnMap" class="icon-close" title="Close"></span>
</div>
<script>
    $(document).ready(function () {
        $('#closeShowNetowkOnMap').on("click", function () {
            si.isNetworkTicketReq = false;
            si.ticketStatus = '';
            si.ticketStatus = '';
            si.fSource_ref_id = '';
            si.fSource_ref_type = '';
            si.fIs_new_entity = false;
            si.fStatus = 'A';
            si.Networkticket.cleanNetwork();
        });
    });
</script>

