
<div id="topologygreyDiv">
</div>
<div class="tool-container gradient tool-top tool-rounded" id="topologyLibraryTools">
    <div class="tool-items">
        <a href="#" class="tool-item gradient" title="@Resources.Resources.SI_GBL_GBL_NET_FRM_082" style="display: none;">
            <i class="icon-user"></i>
        </a><a href="#" class="tool-item gradient" title="@Resources.Resources.SI_GBL_GBL_NET_FRM_443"><i class="icon-star"></i></a>

        <a href="#" class="tool-item gradient" title="@Resources.Resources.SI_GBL_GBL_NET_FRM_084" onclick="si.clearDraggableLibrary();si.closeTopologyLibTools();">
            <i class="icon-trash"></i>
        </a>
        <a href="#" class="tool-item gradient" title="@Resources.Resources.SI_GBL_GBL_NET_FRM_444" onclick="si.clearDraggableLibrary();si.closeTopologyLibTools(); si.clearTempNewEntity(); si.clearObjArray(); LandBase.clearTempNewEntity(); ">
            <i class="icon-ban-circle"></i>
        </a>
    </div>
    <input type="hidden" id="hdntopologyGeomType" value="" />
</div>
